@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

* {
    font-family: 'Google Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #F5E6FE, #E3D1F4);
    color: #4B286D;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #F5E6FE, #E3D1F4);
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: #DEC9F2;
}

.right {
    background: #EADAFB;
    flex-direction: column;
    padding: 40px;
}

.logo {
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(75, 40, 109, 0.1);
}

.right h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #7A4DA1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #B58ED2;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    color: #4B286D;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #DEC9F2;
}

.button:hover {
    background-color: #CBA6E0;
    transform: scale(1.05);
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 30px 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #7A4DA1;
}

.divider span {
    margin: 0 10px;
    color: #9475B3;
}

.link {
    color: #7A4DA1;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link:hover {
    color: #CBA6E0;
}

.terms {
    font-size: 0.8em;
    color: #9475B3;
    text-align: center;
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 40, 109, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FFF;
    padding: 30px;
    border: 1px solid #7A4DA1;
    width: 80%;
    max-width: 500px;
    color: #4B286D;
    border-radius: 15px;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0;
    font-size: 1.8em;
    text-align: center;
    color: #7A4DA1;
}

.modal-content button {
    margin-top: 25px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #7A4DA1;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #CBA6E0;
}


.modal-content input, 
.modal-content textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #7A4DA1;
    border-radius: 8px;
    font-size: 1em;
    color: #4B286D;
    background-color: #F5F0FA;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.modal-content input:focus, 
.modal-content textarea:focus {
    border-color: #CBA6E0;
    box-shadow: 0 0 8px rgba(202, 150, 224, 0.6);
}

.modal-content label {
    font-weight: bold;
    color: #7A4DA1;
    display: block;
    margin-bottom: 5px;
}

.modal-content textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 200px;
}


.close {
    color: #7A4DA1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover {
    color: #CBA6E0;
    text-decoration: none;
    cursor: pointer;
}

.button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.button.google {
    background-color: transparent; /* Cor do Google */
}

.button.github {
    background-color: transparent; /* Cor do GitHub */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left {
        display: none;
    }
}
